{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "max-len": 0,
    "no-console": 0,
    "object-curly-newline": 0,
    "no-await-in-loop": 0,
  }
}
